<div class="container">
	<div class="row">
			<%= render 'books/sidebar', book: @book , user: @user%>
		<div class="col-xs-9">
			<h1>Users</h1>
				<%= render 'index',users: @users %>
		</div>
	</div>
</div>