<div class="container">
	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

	<%= render 'books/error_message', book: @book %>
	<div class="row">
			<%= render 'books/sidebar', book: @book, user: current_user %>
		<div class="col-xs-9">
			<h1>Books</h1>
				<%= render 'index', books: @books %>
		</div>
	</div>
</div>